$color-white: #FFF;
$color-gainsboro: #DCDCDC;
$color-silver: #c0c0c0;
$color-dark-gray: #A9A9A9;
$color-black: #181817;
$color-red: #DA0106;
$color-dark-red: #B80102;
$color-orange: #EF9101;
$color-yellow: #FFE600;

$spacing-main: 14px;
$spacing-half: calc($spacing-main / 2);
$spacing-third: calc($spacing-main / 3);
$spacing-quartr: calc($spacing-main / 4);
$spacing-2x: calc($spacing-main * 2);
$spacing-3x: calc($spacing-main * 3);
$spacing-4x: calc($spacing-main * 4);

$navbar-height: 28px;